/*
 * Navigation bar
 */

nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  box-sizing: border-box;
}

.logo {
  font-family: "Bungee", sans-serif;
}

.tweet-button {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  color:#ffffff;
}

.tweet-button p {
  margin: 0px;
}

.tweet-button i {
  color: #ff0000;
}