/*
 * New tweet
 */

 form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label {
   font-family: "Source Sans 3", sans-serif;
   font-weight: 600;
 }

textarea {
  background-color: inherit;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom: 4px solid #545149;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

form div {
  display: flex;
  justify-content: space-between;
}

form button {
  background-color: #4056A1;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
}

.counter {
  font-family: "Bungee", sans-serif;
}